---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="card">
    <div class="title">Baby-Alter</div>
    <div id="birthday"></div>
    <div>Alter in Tagen:</div>
    <div id="days" class="days"></div>
</div>

<script>
    function getParam(name) {
        return new URLSearchParams(window.location.search).get(name);
    }

    const param = getParam("birthday"); // erwartet YYYY-MM-DD
    if (!param) {
        document.getElementById("birthday").textContent = "Kein Datum übergeben.";
        document.getElementById("days").textContent = "-";
    } else {
        const birthday = new Date(param);
        const today = new Date();

        const diffMs = today - birthday;
        const diffDays = Math.floor(diffMs / (1000 * 60 * 60 * 24));

        document.getElementById("birthday").textContent = "Geburtstag: " + param;
        document.getElementById("days").textContent = diffDays;
    }
</script>
		</main>
		<Footer />
	</body>
</html>
